<template>
  <v-chip pill link>
    <v-avatar start>
      <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
    </v-avatar>

    {{ user.username }}
  </v-chip>
</template>

<script lang="ts">
import type { User } from '~/api/generated/types';

import { defineComponent, type PropType } from 'vue';

export default defineComponent({
  name: 'UserItem',
  props: {
    user: {
      type: Object as PropType<User>,
      required: true,
    },
  },
});
</script>

<style scoped>
</style>