<template>
  <ul class="user-list">
    <li v-for="user in users" :key="user.username">
      <UserItem :user="user"></UserItem>
    </li>
  </ul>
</template>

<script lang="ts">
import type { User } from "~/api/generated/types";

export default defineComponent({
  name: "UserList",
  props: {
    users: {
      type: Array as PropType<User[]>,
      required: true,
    },
  },
});
</script>

<style scoped>
.user-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}
</style>
