<script setup lang="ts">
const route = useRoute();
</script>
<template #footer>
  <div class="text-center p-4 op-50">
    <code>{{ route.path }}</code>
  </div>
</template>
<style scoped>
div {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
}

code {
  font-family: monospace;
  font-size: 1.2rem;
  background-color: #ddd;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
</style>