<template #nav>
  <nav class="flex align-center gap-4 p-4">
    <NuxtLink to="/" class="n-link-base"> Home </NuxtLink>
    <NuxtLink to="/murmurations" class="n-link-base"> Murmurations </NuxtLink>
    <NuxtLink to="/about" class="n-link-base"> About </NuxtLink>
    <NuxtLink to="/profile" class="n-link-base"> Profile </NuxtLink>
  </nav>
</template>

<style scoped>
nav {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
}

.n-link-base {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.n-link-base:hover {
  background-color: #ddd;
}
</style>