<template>
  <div v-if="dimension.items">
    <h3>{{ dimension.name }}</h3>
    <CandidateList :candidates="dimension.items" />
  </div>
</template>

<script lang="ts">
import type { Dimension } from '@/api/generated/types';

import { defineComponent, type PropType } from 'vue';

export default defineComponent({
  name: 'DimensionItem',
  props: {
    dimension: {
      type: Object as PropType<Dimension>,
      required: true,
    },
  },
});
</script>