<template>
  <ul class="dimension-list">
    <li v-for="dimension in dimensions" :key="dimension.name">
      <DimensionItem :dimension="dimension"></DimensionItem>
    </li>
  </ul>
</template>

<script lang="ts">
import type { Dimension } from '~/api/generated/types';

export default defineComponent({
  name: 'DimensionList',
  props: {
    dimensions: {
      type: Array as PropType<Dimension[]>,
      required: true,
    },
  },
});
</script>