<script lang="ts" setup>
import { useMurmurationsStore, MURMURATIONS_QUERY } from '@/stores/murmurations';
import { provideApolloClient } from '@vue/apollo-composable';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';

const murmurationsStore = useMurmurationsStore();
const { loadData } = murmurationsStore;
let { murmurations } = storeToRefs(murmurationsStore);

const authStore = useAuthStore();
let { auth } = storeToRefs(authStore);

onMounted(async () => {
  const { clients } = useApollo()

  if (clients?.default) {
    const client = provideApolloClient(clients.default);
    await loadData();
  }
  await loadData();
});
</script>

<template>
  <div>
    <slot />
  </div>
</template>

<style scoped>
</style>
