<template>
  <div v-if="dimension">
    <h1>{{ dimension.name }}</h1>
    <div v-if="dimension.users">
      <h2>Agents</h2>
      <UserList :users="dimension.users" />
    </div>
    <h2>Dimensions - {{ dimension.projection?.name }}</h2>
    <div v-if="dimension.projection?.dimension">
      <DimensionItem :dimension="dimension.projection?.dimension" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useDimensionsStore } from "@/stores/dimensions";
import { storeToRefs } from "pinia";
import { useRoute } from "vue-router";

const route = useRoute();
const dimensionsStore = useDimensionsStore();
let { dimensions } = storeToRefs(dimensionsStore);

const dimension = computed(() =>
  dimensions.value?.find((m) => m.name === route.params.name)
);

</script>
