<template>
  <div>
    <h1>Dimensions</h1>
    <v-data-table :headers="headers" :items="dimensions" item-key="name" density="compact" class="elevation-1" :items-per-page="-1">
      <template v-slot:item.items="{ item }">
        {{ item.raw.items.length }} elements
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn :to="`/dimensions/${encodeURIComponent(item.raw.name)}/edit`">Edit</v-btn>
        <v-btn :to="`/dimensions/${encodeURIComponent(item.raw.name)}/`">View</v-btn>
      </template>
      <template v-slot:bottom>
        <div class="text-center pt-2">
          <v-pagination v-if="false"></v-pagination>
        </div>
      </template>
    </v-data-table>
    <v-btn @click="undefined">
      Create New Dimension
    </v-btn>
    <v-btn @click="loadData">
      Refresh Items
    </v-btn>
  </div>
</template>

<script lang="ts" setup>
import { useDimensionsStore } from '@/stores/dimensions';
import { storeToRefs } from 'pinia';
import { VBtn } from 'vuetify/components';

const dimensionsStore = useDimensionsStore();
const { loadData } = dimensionsStore;
let { dimensions } = storeToRefs(dimensionsStore);

const headers = [
  { key: 'name', title: 'name', text: 'Name', value: 'name', sortable: true },
  { key: 'items', title: 'items', text: 'Items', value: 'items', sortable: false },
  { key: 'actions', title: 'actions', text: 'Actions', value: 'actions', sortable: false },
];

</script>
