<template>
  <div>
    Hi {{ auth?.user.username }}!
    You're on the About page.
  </div>
</template>
<script setup lang="ts">
const authStore = useAuthStore();
const { auth } = storeToRefs(authStore);
</script>