<template>
  <v-card v-if="user" width="400">
    <v-card-title>
      Hi, {{ user.accessToken }}
    </v-card-title>
    <v-card-text>
      <!-- <ActionCheckMe /> -->
      <ActionSignOut class="mt-3" />
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
const { auth: user } = storeToRefs(useAuthStore())
</script>