<template>
  <v-card width="400">
    <v-card-text>
      <h1 class="text-h5 mb-3">
        Log in to your account
      </h1>
      <v-form @submit.prevent="loadData(form.username, form.password)">
        <v-text-field
          v-model="form.username"
          label="Username"
        />
        <v-text-field
          v-model="form.password"
          label="Password"
          type="password"
        />
        <v-btn
          type="submit"
          color="blue"
          block
          class="my-3"
        >
          Sign In
        </v-btn>
        <!-- <ActionCheckMe /> -->
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { storeToRefs } from 'pinia';

const authStore = useAuthStore();
const { loadData } = authStore;
let { auth } = storeToRefs(authStore);

const form = reactive({
  username: '',
  password: ''
})

</script>
