<template>
  <div>
    {{ item.title }}
    {{ item.comment }} - {{ item.commentDate }}
  </div>
</template>

<script lang="ts">
import type { Item } from '~/api/generated/types';

import { defineComponent, type PropType } from 'vue';

export default defineComponent({
  name: 'CandidateItem',
  props: {
    item: {
      type: Object as PropType<Item>,
      required: true,
    },
  },
});
</script>