<template>
  <div>
    <v-data-table :headers="headers" :items="candidates" item-key="title" density="compact" class="elevation-1"
      :items-per-page="-1">
    </v-data-table>
  </div>
</template>

<script lang="ts" setup>
const headers = [
  { key: 'title', title: 'title', text: 'Title', value: 'title', sortable: true },
  { key: 'commentDate', title: 'commentDate', text: 'Comment Date', value: 'commentDate', sortable: true },
  { key: 'comment', title: 'comment', text: 'Comment', value: 'comment', sortable: true }
];
</script>

<script lang="ts">

import type { Item } from '~/api/generated/types';

export default defineComponent({
  name: 'CandidateList',
  props: {
    candidates: {
      type: Array as PropType<Item[]>,
      required: true,
    },
  },
});
</script>