<template>
  <div v-if="murmuration">
    <h1>{{ murmuration.name }}</h1>
    <div v-if="murmuration.users">
      <h2>Agents</h2>
      <UserList :users="murmuration.users" />
    </div>
    <h2>Dimensions - {{ murmuration.projection?.name }}</h2>
    <div v-if="murmuration.projection?.dimension">
      <DimensionItem :dimension="murmuration.projection?.dimension" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useMurmurationsStore } from "@/stores/murmurations";
import { storeToRefs } from "pinia";
import { useRoute } from "vue-router";

const route = useRoute();
const murmurationsStore = useMurmurationsStore();
let { murmurations } = storeToRefs(murmurationsStore);

const murmuration = computed(() =>
  murmurations.value?.find((m) => m.name === route.params.name)
);

</script>
