<template>
  <div>
    <h1>Murmurations</h1>
    <v-data-table :headers="headers" :items="murmurations" item-key="name" density="compact" class="elevation-1" :items-per-page="-1">
      <template v-slot:item.users="{ item }">
        <!-- <UserList :users="item.raw.users" /> -->
      </template>
      <template v-slot:item.actions="{ item }">
        <!-- <v-btn :to="`/murmurations/${encodeURIComponent(item.raw.name)}/edit`">Edit</v-btn>
        <v-btn :to="`/murmurations/${encodeURIComponent(item.raw.name)}/`">View</v-btn> -->
      </template>
      <template v-slot:bottom>
        <div class="text-center pt-2">
          <v-pagination v-if="false"></v-pagination>
        </div>
      </template>
    </v-data-table>
    <v-btn @click="undefined">
      Create New Murmuration
    </v-btn>
    <v-btn @click="loadData">
      Refresh Items
    </v-btn>
  </div>
</template>

<script lang="ts" setup>
import { useMurmurationsStore } from '@/stores/murmurations';
import { storeToRefs } from 'pinia';
import { VBtn } from 'vuetify/components';

const murmurationsStore = useMurmurationsStore();
const { loadData } = murmurationsStore;
let { murmurations } = storeToRefs(murmurationsStore);

const headers = [
  { key: 'name', title: 'name', text: 'Name', value: 'name', sortable: true },
  { key: 'projection', title: 'projection', text: 'Projection', value: 'projection.name', sortable: true },
  { key: 'users', title: 'users', text: 'Users', value: 'users', sortable: false },
  { key: 'actions', title: 'actions', text: 'Actions', value: 'actions', sortable: false },
];

</script>
